/* main css elememts for the entire project */


/* removes basic padding and maring from any page */

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}


/* basic padding */

.basic-padding {
    padding-left: 148px;
    padding-right: 148px;
}


/* button styles */

a {
    text-decoration: none;
}


/* Colors */

.primary-white-bg {
    background-color: #FFFFFF;
}


/* Fonts + Letter Spacing */