.header-cotnainer{
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 27px;
    font-family: 'Playfair Display', serif;
    width: fit-content;
    height: fit-content;
    transition: ease-in-out .35s;
}
.logo:hover{
    letter-spacing: 1.6px;
    cursor: pointer;
    will-change: auto;
}

.logo .special-logo:nth-child(1){
    font-family: 'Noto Sans Display', sans-serif;
}
.logo .special-logo:nth-child(2){
    font-style: italic;
}

.basic-links .basic-links-container{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basic-links-container li{
    margin-right: 30px;
}
.basic-links-container li:nth-child(3){
    margin-right: 50px;
}

.basic-links-container li .page-link{
    transition: ease-in .2s;
    transform-origin: center;
    text-align: center;
}

.login-container{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container .user-btn{
    width: fit-content;
    height: 40px;
    border-radius: 100px;
}
.login-container .user-btn:nth-child(1){
    margin-right: 30px;
}

.login-container .user-btn a{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    transition: ease-in .2s;
}
.login-container .user-btn .btn-login{
    width: 100px;
}
.login-container .user-btn .btn-login:hover{
    background-color: #e62540;
    color: white;
}
.login-container .user-btn .btn-registry{
    width: 100px;
    font-weight: bold;
}
.login-container .user-btn .btn-registry:hover{
    color: #e62540;
    letter-spacing: 1.8px;
}

.login-container .user-btn .btn-my-profile{
    width: 230px;
    float: right;
}

.no-display{
    display: none;
}